/*
 Theme Name:   Twenty Twenty-Two Child
 Description:  Twenty Twenty-Two Child Theme
 Author:       Blaze Online
 Author URI:   http://blaze.online
 Template:     twentytwentytwo
 Version:      1.0.0
 License:      GNU General Public License v3 or later
 License URI:  http://www.gnu.org/licenses/gpl-3.0.html
 Tags:         Tags: one-column, custom-colors, custom-menu, custom-logo, editor-style, featured-images, full-site-editing, block-patterns, rtl-language-support, sticky-post, threaded-comments
 Text Domain:  twentytwentytwochild
*/
h1 {
  color: #000;
}
